
html {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}
h1 {
    font-size: 50px;
    font-weight: normal;
}
h2 {
    font-size: 42px;
    font-weight: 300;
}
h1, h2 {
    color: white;
}
h6 {
    color: aquamarine;
    font-size: 16px;
}
.phone {
    text-align: center;
}
p {
    color: gray;
    font-size: 21px;
}